<h2 *ngIf="!loading && isNew">Créer une configuration de scan</h2>
<h2 *ngIf="!isNew">Modification de la configuration de scan</h2>
<br>



<form *ngIf="!loading">
  <div class="form-group">
    <label for="configName">Nom de la configuration</label>
    <input type="text" class="form-control" id="configName" name="configName" placeholder="Billets 2019" [(ngModel)]="config.name" required>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="acceptGoodies" id="acceptGoodies" [(ngModel)]="config.acceptOrderTickets">
    <label class="form-check-label" for="acceptGoodies">
      Accepte les billets de goodies
    </label>
  </div>

  <button *ngIf="!isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Modifier</button>
  <button *ngIf="isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Créer</button>
</form>

<p *ngIf="loading">Chargement...</p>
