<ng-container *ngIf="cart.items.length > 0">
  <table style="width: 100%;">
    <tr *ngFor="let item of cart.items">
      <td>{{item.amount}} * <b>{{item.baseItem.name}}</b> ({{item.price}}.&ndash;)</td>
      <td width="10%">{{item.amount * item.price}}.&ndash;</td>
      <td width="5%" *ngIf="!displayMode">
          <button (click)="removeItem(item)" class="btn btn-danger btn"><span class="fas fa-trash-alt"></span></button>
      </td>
    </tr>


  </table>

  <hr>
  <p *ngIf="!displayMode">Prix total : <b>{{cart.total}}.&ndash;</b></p>

  <ng-content></ng-content>
</ng-container>

<p *ngIf="cart.items.length === 0">Vous n'avez rien mis dans votre panier pour le moment.</p>
