
<div class="row">
  <div class="col-md-2"><h2>Produits</h2></div>
  <div class="col-md-4 offset-md-6" style="text-align: right;">
    <a class="btn btn-outline-success" routerLink="create">Ajouter un produit</a>
    <button class="btn btn-outline-warning" style="margin-left: 0.5rem;" (click)="purge()" *ngIf="items && items.length > 0">Vider les produits non utilisés</button>
    <button class="btn btn-outline-danger" style="margin-left: 0.5rem;" (click)="delete()" *ngIf="items && items.length == 0">Supprimer l'événement</button>
  </div>
</div>

<table class="table">
  <tr>
    <th>Type</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Description longue</th>
    <th>Prix</th>
    <th>Qté rest</th>
  </tr>
  <tr *ngFor="let item of items">
    <td><span
      [class]="'badge badge-' + (item.isTicket ? 'info' : 'warning')">{{ item.isTicket ? 'Billet' : 'Goodie'}}</span> <i
      [class]="'fas ' + (item.isVisible ? 'fa-eye' : 'fa-eye-slash')"></i></td>
    <td><a [routerLink]="['update', item.id]">{{item.name}}</a></td>
    <td>{{item.description}}</td>
    <td>{{item.longDescription}}</td>
    <td>{{item.price}} <span class="badge badge-danger" *ngIf="item.freePrice">Prix libre</span></td>
    <td>{{item.maxItems}}</td>
  </tr>
</table>

<p *ngIf="!items" class="text-muted"><i>Récupération des produits en cours...</i></p>

<a class="btn btn-success" routerLink="create">Ajouter un produit</a>
