<h1 *ngIf="!loading && isNew && !cloneId">Créer un événement</h1>
<h1 *ngIf="!loading && isNew && cloneId">Clonage d'un événement</h1>
<h2 *ngIf="!isNew">Modification de l'événement</h2>
<br>



<form *ngIf="!loading">
  <div class="form-group">
    <label for="eventName">Nom de l'événement</label>
    <input type="text" class="form-control" id="eventName" name="eventName" placeholder="Japan Impact xxx" [(ngModel)]="event.name" required>
  </div>

  <div class="form-group">
    <label for="eventPlace">Emplacement de l'événement</label>
    <input type="text" class="form-control" id="eventPlace" name="eventPlace" placeholder="EPFL, Lausanne" [(ngModel)]="event.location" required>
  </div>

  <div class="form-group">
    <label for="eventImage">Image pour les billets (max 150ko, 627px de large)</label>
    <input type="text" class="form-control" id="eventImage" name="eventImage" placeholder="https://mon-image" [(ngModel)]="event.ticketsImage">
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="eventPublic" id="eventPublic" [(ngModel)]="event.visible" [disabled]="event.archived">
    <label class="form-check-label" for="eventPublic">
      Visible au public
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="eventArchived" id="eventArchived" [(ngModel)]="event.archived">
    <label class="form-check-label" for="eventArchived">
      Archivé
    </label>
  </div>

  <p *ngIf="cloneId"><i>Vous êtes en mode clonage, ce qui signifie que tous les produits de l'événement cloné seront
  copiés dans ce nouvel événement à sa création.</i></p>

  <button *ngIf="!isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Modifier</button>
  <button *ngIf="isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Créer</button>
</form>

<p *ngIf="loading">Chargement...</p>
