
<style>
  .pos-item {
    height: 8rem;
    width: 8rem;
    display: inline-block;
    margin: 5px;
    box-sizing: border-box;
    padding: 0.5rem;
  }
</style>




<div class="row">
  <div class="col-sm-9">
    <h1>Vente</h1>

    <div class="alert alert-info" role="alert" *ngIf="loading">
      <h2>Chargement des données...</h2>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="!loading && !items">
      <h2>Une erreur s'est produite, veuillez réessayer plus tard</h2>
    </div>

    <ng-container *ngIf="items">

      <div class="row" *ngFor="let row of items">
        <ng-container *ngFor="let item of row">
          <div *ngIf="item" [class]="getItemClasses(item)" (click)="addItem(item)">
            <h2>{{item.item.name}}</h2>
          </div>
          <div *ngIf="!item" class="pos-item"></div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="col-sm-3" *ngIf="items">
    <div class="border p-2 mt-1 pb-2">
      <h2>Items demandés</h2>

      <app-cart>
        <p>Ici un bouton pour acheter</p>
      </app-cart>


    </div>
  </div>
</div>


