
<style>
  .pos-item {
    height: 8rem;
    width: 8rem;
    display: inline-block;
    margin: 5px;
    box-sizing: border-box;
    padding: 0.5rem;
    word-break: break-word;
    position: relative;
  }
</style>

<ng-template #processToPayment let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmation de la commande</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Montant total : <b>{{checkoutPrice}} .-</b></h2>

    <p>Quel mode de paiement utiliser ?</p>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-lg" (click)="payByCash(cashPaymentStart, checkoutError )">Cash</button>
    <button *ngIf="config.acceptCards" type="button" class="btn btn-outline-dark btn-lg" (click)="payByCard(cardPaymentStart, checkoutError)">Carte</button>
    <button *ngIf="config.acceptCamipro" type="button" class="btn btn-outline-dark btn-lg" (click)="payCamipro(camiproPaymentCard, checkoutError)">Camipro</button>
  </div>
</ng-template>

<ng-template #camiproPaymentCard let-modal>
  <div class="modal-header">
    <button type="button" class="close" style="float: left; margin: -1rem -1rem -1rem;" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Paiement Camipro</h4>
  </div>
  <div class="modal-body">
    <h2>Montant total : <b>{{checkoutPrice}} .-</b></h2>

    <p>Saisissez le montant sur le terminal Camipro et procédez au paiement.</p>
    <b>Ne confirmez le paiement qu'une fois que le paiement a fonctionné sur le terminal Camipro.</b>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-lg" (click)="paymentFinished(paymentOkModal, PaymentMethod.Camipro)">Paiement Validé</button>
  </div>
</ng-template>


<ng-template #cashPaymentStart let-modal>
  <div class="modal-header">
    <button type="button" class="close" style="float: left; margin: -1rem -1rem -1rem;" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Paiement Cash</h4>
  </div>
  <div class="modal-body">
    <h2>Montant total : <b>{{checkoutPrice}} .-</b></h2>

    <b>ATTENTION! Après, il est impossible d'annuler la transaction.</b>
    <p>Pour un paiement cash, utilisez ce formulaire pour vous aider :</p>

    <div class="form-row">
      <div class="col-lg-4">
        <input type="number" [(ngModel)]="givenAmount" class="form-control form-control-lg" style="text-align: center;" autofocus>
      </div>
      <div class="col-lg-4" style="text-align: center">
        <h3>=> rendre =></h3>
      </div>
      <div class="col-lg-4">
        <input type="number" [value]="change" disabled class="form-control form-control-lg" style="text-align: center;">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-lg" (click)="paymentFinished(paymentOkModal)">Paiement Validé</button>
  </div>
</ng-template>

<ng-template #cardPaymentStart let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Paiement par carte</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelCardPayment(undefined)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Demander à l'utilisateur s'il veut un ticket de caisse <b>avant</b> de cliquer.</p>
    <p>Si oui, remplir un des champs ci dessous :</p>

    <form>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email :</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Email" #receiptEmail>
        </div>
      </div>
      <div class="form-group row">
        <label for="phoneNumber" class="col-sm-2 col-form-label">Natel :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="phoneNumber" placeholder="Natel" #receiptPhone>
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <a [href]="sumUpURL(receiptEmail, receiptPhone)" class="btn btn-outline-success btn-lg">Payer</a>

      <button type="button" class="btn btn-outline-warning btn-lg" (click)="cancelCardPayment(processToPayment)">Retour</button>
    </div>
  </div>
</ng-template>



<ng-template #checkoutError let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Erreur de commande</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Une erreur s'est produite durant la commande. Si cela se reproduit, appelez un responsable.</p>
    <ul>
      <li *ngFor="let error of checkoutErrors">{{error}}</li>
    </ul>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Compris</button>
  </div>
</ng-template>

<ng-template #paymentOkModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Paiement confirmé !</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Le paiement a été confirmé. Voici les objets qui étaient commandés :</p>
    <app-cart [displayMode]="true">
      <p>Une fois les bracelets distribués, fermez la boite de dialogue.</p>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">C'est tout bon!</button>
    </app-cart>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">C'est tout bon!</button>
  </div>
</ng-template>


<div class="row">
  <div class="col-sm-7">
    <h1>Vente</h1>

    <div class="alert alert-info" role="alert" *ngIf="loading">
      <h2>Chargement des données...</h2>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="!loading && !items">
      <h2>Une erreur s'est produite, veuillez réessayer plus tard</h2>
    </div>

    <ng-container *ngIf="items">

      <div class="row" *ngFor="let row of items">
        <ng-container *ngFor="let item of row">
          <div *ngIf="item" [class]="getItemClasses(item)" (click)="addItem(item)">
            <h4 style="display: inline-block; width: 100%;"><strong>{{item.item.name}}</strong></h4>

            <div style="bottom: 0; right: 0; padding-right: 0.5rem; position: absolute;">
              <h4>
                {{item.item.price}}.-</h4>
            </div>

          </div>
          <div *ngIf="!item" class="pos-item"></div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="col-sm-5" *ngIf="items">
    <div class="card p-2 mt-1 pb-2">
      <h2>Items demandés</h2>

      <app-cart>
        <button type="button" class="btn btn-success btn-lg" style="min-width: 150px;" (click)="payByCash(cashPaymentStart, checkoutError)">Cash</button>
        <button *ngIf="config.acceptCards" type="button" class="btn btn-outline-dark btn-lg" style="float: right;" (click)="payByCard(cardPaymentStart, checkoutError)">Carte</button>
        <button *ngIf="config.acceptCamipro" type="button" class="btn btn-outline-dark btn-lg" style="float: right;" (click)="payCamipro(camiproPaymentCard, checkoutError)">Camipro</button>
      </app-cart>


    </div>
  </div>
</div>


