<h1>Scan de billets</h1>
<h2>Sélection de la configuration de scan</h2>
<p>Référez vous à un responsable si vous avez un doute sur la configuration à utiliser.</p>
<br>


<div class="alert alert-info" role="alert" *ngIf="loading">
  <h2>Chargement des données...</h2>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">
  <h2>Une erreur s'est produite, veuillez réessayer plus tard</h2>
</div>

<div *ngIf="!loading && !error">
  <ul>
    <li *ngFor="let config of list">
      <a routerLink="{{config.id}}">{{config.name}}</a>
    </li>
  </ul>
</div>
