<div class="row">

  <main role="main" class="offset-md-2 offset-lg-2 col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Choisir un événement pour voir le dashboard</h1>
    </div>

    <ul *ngIf="editions">
      <li *ngFor="let event of editions"><a [routerLink]="[event.id]">{{event.name}}</a></li>
    </ul>
    <p *ngIf="!editions" class="text-muted"><i>Récupération des éditions en cours...</i></p>

  </main>
</div>


