<ng-container *ngIf="loading && !errors">
  <h1 i18n>Chargement...</h1>

  <p i18n>Un petit instant, nous récupérons la liste des articles en vente...</p>
</ng-container>

<div class="jumbotron" *ngIf="!hasContent() && !loading">
  <h1 class="display-4" i18n>Rien à voir ici :(</h1>
  <p class="lead" i18n>Nous sommes ravis de voir que notre événement vous intéresse, mais notre boutique n'est pas encore ouverte. Revenez bientôt !</p>
  <hr class="my-4">
  <p i18n>Notre boutique ouvre en général 3 mois avant Japan Impact. Vous y trouverez vos places pour la convention, ainsi que des goodies que vous pourrez y retirer !</p>
</div>

<div class="alert alert-danger" *ngIf="errors">
  <h1 i18n>Une erreur s'est produite</h1>
  <p i18n>Impossible de charger les données... Merci de réessayer plus tard !</p>
  <hr>
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>

<ng-container *ngIf="hasContent()">
  <h1 class="display-4" i18n>Billetterie Japan Impact</h1>
  <p i18n>Bienvenue sur la boutique officielle de Japan Impact. </p>
  <!-- todo: editable text? -->
  <hr class="my-3" />

  <div class="row">
    <div class="col-lg-8">

      <ng-container *ngIf="hasTickets()">
          <h2 i18n>Billets</h2>
          <app-item-list-display [items]="tickets"></app-item-list-display>
      </ng-container>

      <hr class="my-3" />

      <ng-container *ngIf="hasGoodies()">
          <h2 i18n>Goodies</h2>
          <p i18n>Attention, les goodies sont à retirer sur notre stand lors de la convention, assurez vous de disposer d'un billet d'entrée avant d'en commander.</p>
          <app-item-list-display [items]="goodies"></app-item-list-display>
      </ng-container>

    </div>

    <div class="col-lg-4">
      <div class="border p-2 mt-1 pb-2" id="cart">
        <h2 i18n>Panier</h2>

        <app-cart>
          <a href="checkout" class="btn btn-primary" i18n>Passer commande</a> <!-- Why routerLink doesnt work? -->
          <a href="checkout/gift" class="btn btn-success" *ngIf="isAdmin">Générer un cadeau</a> <!-- Why routerLink doesnt work? -->
          <a href="checkout/physical" class="btn btn-success" *ngIf="canSell">Vendre à un tiers</a> <!-- Why routerLink doesnt work? -->
        </app-cart>

      </div>
    </div>
  </div>


</ng-container>
