<ng-container *ngIf="loading">
  <h1>Chargement...</h1>

  <p>Un petit instant, nous récupérons la liste des articles en vente...</p>
</ng-container>

<div class="jumbotron" *ngIf="!hasContent() && !loading">
  <h1 class="display-4">Rien à voir ici :(</h1>
  <p class="lead">Nous sommes ravis de voir que notre événement vous intéresse, mais notre boutique n'est pas encore ouverte. Revenez bientôt !</p>
  <hr class="my-4">
  <p>Notre boutique ouvre en général 3 mois avant Japan Impact. Vous y trouverez vos places pour la convention, ainsi que des goodies que vous pourrez y retirer !</p>
</div>

<ng-container *ngIf="hasContent()">
  <h1 class="display-4">Billetterie Japan Impact</h1>
  <p>Bienvenue sur la boutique officielle de Japan Impact. </p>
  <!-- todo: editable text? -->
  <hr class="my-3" />

  <div class="row">
    <div class="col-lg-8">

      <ng-container *ngIf="hasTickets()">
          <h2>Billets</h2>
          <app-item-list-display [items]="tickets"></app-item-list-display>
      </ng-container>

      <hr class="my-3" />

      <ng-container *ngIf="hasGoodies()">
          <h2>Goodies</h2>
          <p>Attention, les goodies sont à retirer sur notre stand lors de la convention, assurez vous de disposer d'un billet d'entrée avant d'en commander.</p>
          <app-item-list-display [items]="goodies"></app-item-list-display>
      </ng-container>

    </div>

    <div class="col-lg-4">
      <div class="border p-2 mt-1 pb-2">
        <h2>Panier</h2>

        <app-cart>
          <a href="checkout" class="btn btn-primary">Passer commande</a> <!-- Why routerLink doesnt work? -->
          <a href="checkout/gift" class="btn btn-success" *ngIf="isAdmin">Générer un cadeau</a> <!-- Why routerLink doesnt work? -->
        </app-cart>

      </div>
    </div>
  </div>


</ng-container>
