<h1>Utilisateurs</h1>

<p>Filtres :</p>
<form class="form-inline">
  <label class="sr-only" for="name">Nom</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="name" name="name" [(ngModel)]="nameFilter" placeholder="Nom">

  <label class="sr-only" for="email">Email</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="email" name="email" [(ngModel)]="mailFilter" placeholder="Email">
</form>
<table class="table">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Email confirmé</th>
    <th>Accepte newsletter</th>
  </tr>
  <tr *ngFor="let client of filteredUsers">
    <td><a [routerLink]="client.id">{{client.id}}</a></td>
    <td>{{client.firstname}} {{client.lastname}}</td>
    <td>{{client.email}}</td>
    <td>{{client.emailConfirmed ? 'Oui' : 'Non'}}</td>
    <td>{{client.acceptNewsletter ? 'Oui' : 'Non'}}</td>
  </tr>
</table>

<p *ngIf="!filteredUsers" class="text-muted"><i>Récupération des utilisateurs en cours...</i></p>
