<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-danger">
  <a class="navbar-brand" href="#" routerLink="/">Japan Impact Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.japan-impact.ch/">&laquo; Retour au site</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/orders" *ngIf="auth.isAuthenticated()">Mes commandes</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-left">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/scan" *ngIf="auth.hasPermission(Permissions.SCAN_TICKET)">Scan Mode</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/pos" *ngIf="auth.hasPermission(Permissions.SELL_ON_SITE)">Point de vente</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin" *ngIf="auth.hasPermission(Permissions.ADMIN_ACCESS)">Admin</a>
      </li>

      <li class="nav-item active"><a class="nav-link" href="#" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><b
        class="glyphicon glyphicon-off"></b> Déconnexion</a></li>
      <li class="nav-item active"><a class="nav-link" [href]="auth.loginUrl()" *ngIf="!auth.isAuthenticated()"><b
        class="glyphicon glyphicon-off"></b> Connexion / Inscription</a></li>
    </ul>
  </div>
</nav>

<main class="container">
  <br/>

  <router-outlet></router-outlet>

  <footer class="pt-3 my-md-5 pt-md-3 border-top">
    <p class="text-muted">Site web maintenu par PolyJapan (AGEPoly). <a routerLink="/terms">Termes et conditions</a></p>
    <ul class="footer-links">
      <li><span class="text-muted">Retrouvez nous sur vos réseaux sociaux !</span></li>
      <li><a href="https://www.instagram.com/japan_impact/">Instagram</a></li>
      <li><a href="//twitter.com/japanimpact">Twitter</a></li>
      <li><a href="https://www.facebook.com/japanimpact.ch/">Facebook</a></li>
    </ul>

    <p>
      <small class="text-muted">&copy; 2018-2019 <a href="//github.com/zyuiop">Louis Vialar</a> et <a href="https://github.com/Polyjapan/ji-shop-front/graphs/contributors">contributeurs</a> pour PolyJapan, commission de l'<a href="//agepoly.ch">AGEPoly</a>. Retrouvez nous sur <a href="https://github.com/Polyjapan/ji-shop-front">GitHub</a>.</small>

    </p>
    <div class="row">
      <div class="col-12 col-md">



      </div>
    </div>
  </footer>
</main>
