<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-danger">
  <a class="navbar-brand" href="#" routerLink="/">Japan Impact Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="orders" *ngIf="auth.isAuthenticated()">Mes commandes</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="scan" *ngIf="auth.hasPermission(Permissions.SCAN_TICKET)">Scan Mode</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="pos" *ngIf="auth.hasPermission(Permissions.SELL_ON_SITE)">Point de vente</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="admin" *ngIf="auth.hasPermission(Permissions.ADMIN_ACCESS)">Admin</a>
      </li>
    </ul>

    <ul  class="navbar-nav mr-left">

      <li class="nav-item active">
        <a class="nav-link" routerLink="intranet" *ngIf="auth.hasPermission(Permissions.INTRANET_VIEW)">Intranet</a>
      </li>

      <li class="nav-item active"><a class="nav-link" href="#" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><b class="glyphicon glyphicon-off"></b> Déconnexion</a></li>
      <li class="nav-item active"><a class="nav-link" routerLink="login" *ngIf="!auth.isAuthenticated()"><b class="glyphicon glyphicon-off"></b> Connexion / Inscription</a></li>
    </ul>
  </div>
</nav>

<main class="container">
  <br/>

  <router-outlet></router-outlet>
</main>
