<h1 i18n>Il nous manque quelques informations</h1>
<p i18n>Vous y êtes presque ! Il nous manque juste quelques informations pour que vous puissiez utiliser la
  boutique.</p>

<br>


<div class="alert alert-danger" role="alert" *ngIf="registerErrors && registerErrors.length > 0">
  <p i18n>Une erreur s'est produite !</p>
  <ul>
    <li *ngFor="let err of registerErrors">{{err}}</li>
  </ul>
</div>

<form #register="ngForm" class="form" (ngSubmit)="onRegister(register)" action="#">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirstName" i18n>Prénom</label>
      <input type="text" name="firstname" class="form-control" id="inputFirstName" i18n-placeholder
             placeholder="Prénom" required
             ngModel>
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName" i18n>Nom</label>
      <input type="text" name="lastname" class="form-control" id="inputLastName" i18n-placeholder placeholder="Nom"
             required
             ngModel>
    </div>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="acceptNews" value="true" id="acceptNewsletter" ngModel>
    <label class="form-check-label" for="acceptNewsletter" i18n>
      J'accepte de recevoir la newsletter bimensuelle de Japan Impact
    </label>
  </div>

  <hr>

  <p i18n>En poursuivant, vous acceptez que PolyJapan (AGEPoly) conserve les informations que vous lui
    transmettez.
    Ces informations ne seront pas transmises à des tiers ou utilisées à des fins publicitaires.</p>

  <br>

  <button type="submit" class="btn btn-primary" [disabled]="!register.valid || registerSent" i18n>Continuer
    <i class="fas fa-spinner" *ngIf="registerSent"></i>
  </button>
</form>

