<ng-container *ngIf="sent">
  <h1 i18n>Email envoyé</h1>

  <p i18n>Vous devriez recevoir dans les prochaines minutes un email vous permettant de réinitialiser votre
    mot de passe.</p>
</ng-container>

<div class="alert alert-danger" role="alert" *ngIf="errors">
  <p i18n>Impossible de réinitialiser votre mot de passe !</p>
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>

<ng-container *ngIf="!sent">
  <h1 i18n>Mot de passe oublié</h1>
  <p i18n>Vous ne vous souvenez plus de votre mot de passe ? Pas de panique ! Indiquez votre adresse e-mail ci dessous
    pour le récupérer.</p>

  <hr class="mb-4">

  <form #form="ngForm" class="form" (ngSubmit)="resetPassword(form)" action="#">

    <div class="form-group">
      <label for="inputEmail" i18n>Email</label>
      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required ngModel i18n-placeholder>
    </div>

    <re-captcha siteKey="{{siteKey}}"></re-captcha>

    <br>

    <button type="submit" class="btn btn-primary" [disabled]="sending" i18n>Récupérer le mot de passe
    </button>

  </form>

</ng-container>

