<ng-container *ngIf="sent">
  <h1>Email envoyé</h1>

  <p>Vous devriez recevoir dans les prochaines minutes un email vous permettant de réinitialiser votre
    mot de passe.</p>
</ng-container>

<div class="alert alert-danger" role="alert" *ngIf="errors">
  <p>Impossible de réinitialiser votre mot de passe !</p>
  <ul>
    <ul>
      <li *ngFor="let err of errors">{{err}}</li>
    </ul>
  </ul>
</div>

<ng-container *ngIf="!errors && !sent">
  <h1>Mot de passe oublié</h1>
  <p>Vous ne vous souvenez plus de votre mot de passe ? Pas de panique ! Indiquez votre adresse e-mail ci dessous
    pour le récupérer.</p>

  <hr class="mb-4">

  <form #form="ngForm" class="form" (ngSubmit)="resetPassword(form)" action="#">

    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required ngModel>
    </div>

    <div class="g-recaptcha" data-sitekey="6LclcWoUAAAAAAcrg1eRSxLCIIX5-k3FYkZGoyAV"></div>

    <br>

    <button type="submit" class="btn btn-primary" [disabled]="sent">Récupérer le mot de passe
    </button>

  </form>

</ng-container>

