<ng-container *ngIf="sent">
  <h1>Mot de passe réinitialisé</h1>

  <p>Votre mot de passe a été modifié. Vous pouvez désormais vous connecter et poursuivre vos achats : <a
    routerLink="/login">connexion</a></p>
</ng-container>

<div class="alert alert-danger" role="alert" *ngIf="errors">
  <p>Impossible de modifier votre mot de passe !</p>
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>

<ng-container *ngIf="!sent">
  <h1>Récupération du mot de passe</h1>
  <p>Vous pouvez désormais choisir un nouveau mot de passe ici :</p>

  <hr class="mb-4">

  <form class="form" (ngSubmit)="resetPassword(password)" action="#">

    <div class="form-group">
      <label for="inputPassword">Nouveau mot de passe</label>
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Mot de passe" required
             #password>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="sending">Modifier le mot de passe
    </button>

  </form>

</ng-container>

