<h1 *ngIf="!loading && isNew">Créer une configuration Point de Vente</h1>
<h2 *ngIf="!isNew">Modification de la configuration de Point de Vente</h2>
<br>



<form *ngIf="!loading">
  <div class="form-group">
    <label for="configName">Nom de la configuration</label>
    <input type="text" class="form-control" id="configName" name="configName" placeholder="Billets 2019" [(ngModel)]="config.name" required>
  </div>

  <button *ngIf="!isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Modifier</button>
  <button *ngIf="isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Créer</button>
</form>

<p *ngIf="loading">Chargement...</p>
