<h2 *ngIf="!loading && isNew">Créer une configuration caisse</h2>
<h2 *ngIf="!isNew">Modification de la configuration de caisse</h2>
<br>



<form *ngIf="!loading">
  <div class="form-group">
    <label for="configName">Nom de la configuration</label>
    <input type="text" class="form-control" id="configName" name="configName" placeholder="Billets 2019" [(ngModel)]="config.name" required>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="acceptCards" id="acceptCards" [(ngModel)]="config.acceptCards">
    <label class="form-check-label" for="acceptCards">
      Accepte les cartes bancaires
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="acceptCamipro" id="acceptCamipro" [(ngModel)]="config.acceptCamipro">
    <label class="form-check-label" for="acceptCamipro">
      Accepte les cartes camipro
    </label>
  </div>

  <br>

  <button *ngIf="!isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Modifier</button>
  <button *ngIf="isNew" type="submit" class="btn btn-primary" (click)="submit()" [disabled]="sending">Créer</button>
</form>

<p *ngIf="loading">Chargement...</p>
