<ng-container *ngIf="config">
  <div class="row">
    <div class="col-md-6">
      <h1>Configuration point de vente <i>{{config.name}}</i></h1>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button class="btn btn-outline-danger" style="margin-left: 0.5rem;" (click)="delete()">Supprimer la
        configuration
      </button>
    </div>
  </div>
  <p><a routerLink="update">Modifier la configuration</a> | <a routerLink="..">Retour</a></p>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Produits :
        </div>
        <div class="card-body">
          <p>Cliquez sur un produit pour le retirer.</p>
          <ul>
            <li *ngFor="let item of items" (click)="removeProduct(item.item)">
              <b [class]="item.color + ' ' + item.fontColor">{{item.item.name}}</b> ({{item.item.description}}) [prix =
              {{item.item.price}}]<br>
              <code>Ligne: {{item.row}} / Colonne: {{item.col}} / Event: {{getEventName(item.item.eventId)}}</code>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Ajouter des produits :
        </div>
        <div class="card-body">
          <p>Cliquez sur un produit pour l'ajouter.</p>

          <ul>
            <li *ngFor="let itemList of filteredAvailableItems"><b>{{itemList.event.name}}</b>
              <ul>
                <app-admin-view-pos-item *ngFor="let prod of itemList.items" [item]="prod" [configId]="id"
                                         (finish)="reload()"></app-admin-view-pos-item>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!config">
  <h1>Chargement...</h1>
</ng-container>
