<table class="table table-bordered">
  <tr>
    <th width="40%" i18n>Article</th>
    <th i18n>Prix unit. H.T.</th>
    <th i18n>Quantité</th>
    <th i18n>Prix total H.T.</th>
    <th i18n>Prix total TTC</th>
    <th width="25%" i18n>Billets</th>
  </tr>
  <tr *ngFor="let item of order.products">
    <td>{{item.product.name}}</td>

    <td>{{offTax(item.paidPrice)}}</td>
    <td>{{item.amount}}</td>
    <td>{{offTax(item.amount * item.paidPrice)}}</td>
    <td>{{item.amount * item.paidPrice}}.&ndash;</td>

    <td *ngIf="item.product.isTicket">
      <ul class="list-unstyled">
        <li *ngFor="let code of item.codes">
          <button class="btn btn-outline-secondary btn-sm mb-1 text-monospace" style="width: 100%;"
                  (click)="downloadTicket(code)">
            <i class="fas fa-file-download"></i> {{code}}
          </button>
        </li>
      </ul>
    </td>
    <td *ngIf="!item.product.isTicket">
      <button (click)="downloadTicket(order.orderCode)" style="width: 100%;" class="btn btn-outline-secondary btn-sm">
        <i class="fas fa-file-download"></i> Billet Goodies : <span class="text-monospace">{{order.orderCode}}</span>
      </button>
    </td>
  </tr>


  <tr>
    <td colspan="4" style="text-align: right;"><b i18n>Total HT</b></td>
    <td colspan="3">{{offTax(totalAmount)}}</td>
  </tr>
  <tr>
    <td colspan="4" style="text-align: right;"><b i18n>TVA 7.7%</b></td>
    <td colspan="3">{{tax(totalAmount)}}</td>
  </tr>
  <tr>
    <td colspan="4" style="text-align: right;"><b i18n>Total TTC</b></td>
    <td colspan="3">{{totalAmount}}.&ndash;</td>
  </tr>
</table>

<p><button class="btn btn-outline-secondary" (click)="downloadInvoice()"><i class="fas fa-file-download"></i> Télécharger la facture</button></p>
