<div *ngIf="loading">
  <h1>Veuillez patienter...</h1>
  <p>Merci de patienter quelques instants, nous recherchons votre commande.</p>
</div>

<div *ngIf="errors && errors.length > 0" class="alert alert-danger">
  <h2>Une erreur s'est produite</h2>
  <ul>
    <li *ngFor="let error of errors">
      {{error}}
    </li>
  </ul>
</div>

<div *ngIf="order">
  <h1>Commande #{{order.order.id}}</h1>
  <p>Passée le {{date}}</p>
  <hr>
  <h3>Récapitulatif de la commande</h3>

  <app-order-content [order]="order"></app-order-content>
</div>
