<div *ngIf="loading">
  <h1 i18n>Veuillez patienter...</h1>
  <p i18n>Merci de patienter quelques instants, nous recherchons votre commande.</p>
</div>

<div *ngIf="errors && errors.length > 0" class="alert alert-danger">
  <h2 i18n>Une erreur s'est produite</h2>
  <ul>
    <li *ngFor="let error of errors">
      {{error}}
    </li>
  </ul>
</div>

<div *ngIf="order">
  <h1 i18n>Commande #{{order.order.id}}</h1>
  <p i18n>Passée le {{date}}</p>
  <hr>
  <h3 i18n>Récapitulatif de la commande</h3>

  <app-order-content [order]="order"></app-order-content>
</div>
