/* You can add global styles to this file, and also import other style files */
/* To have the cart stick to the top of the screen */
#cart {
    position: -webkit-sticky;
    position: sticky;
    top: 10pt;
}