<div *ngIf="!checkoutErrors && !done">
  <h1 i18n>Veuillez patienter...</h1>
  <p i18n>Merci de patienter quelques instants, nous vérifions votre commande.</p>
</div>

<div *ngIf="checkoutErrors" class="alert alert-danger">
  <h2 i18n>Impossible de passer la commande</h2>
  <ul>
    <li *ngFor="let err of checkoutErrors">{{err}}</li>
  </ul>
</div>

<div *ngIf="done && !multiSendStart">
  <h1 i18n>Récapitulatif de commande</h1>
  <p i18n>Vérifiez que votre commande est correcte.</p>
  <p *ngIf="isGift">Cette commande sera générée comme <b>un cadeau</b>.</p>
  <p *ngIf="isSale">Cette commande sera générée comme <b>une vente en avance</b>.</p>

  <div *ngIf="checkoutRemoved" class="alert alert-warning">
    <h2 i18n>Attention !</h2>
    <p i18n>Les éléments suivants se trouvaient dans votre panier et ont été supprimés.</p>
    <table>
      <tr *ngFor="let item of checkoutRemoved">
        <td>{{item.amount}} * {{item.baseItem.name}} ({{item.price}}.&ndash;)</td>
        <td width="10%"><b>{{item.amount * item.price}}.&ndash;</b></td>
      </tr>
    </table>
  </div>

  <table class="table table-bordered">
    <tr>
      <th i18n>Article</th>
      <th i18n>Prix unitaire</th>
      <th i18n>Quantité</th>
      <th i18n>Prix total</th>
      <th *ngIf="checkoutUpdated" i18n>Particularités</th>
    </tr>
    <tr *ngFor="let item of cart.items">
      <td>{{item.baseItem.name}}</td>
      <td>{{item.price}}</td>
      <td *ngIf="wasUpdated(item)">{{item.amount}} <s>{{previousAmount(item)}}</s></td>
      <td *ngIf="!wasUpdated(item)">{{item.amount}}</td>
      <td>{{item.amount * item.price}}.&ndash;</td>
      <td *ngIf="checkoutUpdated && wasUpdated(item)" i18n>Quantité modifiée !</td>
    </tr>

    <tr>
      <td colspan="3"><b i18n>Total</b></td>
      <td>{{cart.total}}</td>
    </tr>
  </table>

  <hr>
  <p i18n>Rappel important : si votre commande contient des goodies, <strong>assurez vous de disposer d'un billet pour entrer
  dans la manifestation, ou vous ne pourrez pas les récupérer.</strong></p>
  <p i18n>Si vous confirmez que la commande est correcte, vous pouvez passer au paiement ici :</p>
  <a class="btn btn-success" href="{{checkoutLink}}" *ngIf="checkoutLink" i18n><i class="far fa-credit-card"></i> Paiement sécurisé <i class="fas fa-lock"></i></a>

  <div *ngIf="isGift">
    <h3>M'envoyer les billets par email</h3>
    <p>Vous recevez les invitations sur votre adresse personnelle et pourrez les distribuer directement.</p>
    <button (click)="sendToMe()" class="btn btn-primary">Envoyer les billets pour moi</button>

    <hr>

    <h3>Envoyer les billets à quelqu'un</h3>
    <p>La personne indiquée recevra les billets directement par email.</p>

    <div class="form-group">
      <label for="inputEmail">Envoyer les billets à</label>
      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" #email>
    </div>

    <button (click)="sendTo(email)" class="btn btn-success">Envoyer</button>

    <hr>

    <h3>Envoyer cette commande à plusieurs personnes</h3>
    <p>Vous pouvez dupliquer cette commande et l'envoyer à plusieurs personnes en indiquant leurs emails, un par ligne.</p>

    <textarea class="form-control" #emails rows="5"></textarea>

    <button (click)="sendToMultiple(emails)" class="btn btn-success">Envoyer</button>

  </div>

  <div *ngIf="isSale">
    <h3>Paiement & envoi des billets</h3>
    <p>La personne indiquée recevra les billets directement par email.</p>

    <p><b>Merci d'encaisser avant de continuer.</b> Une fois que c'est fait, relevez l'email et cliquez sur le bouton.</p>

    <div class="form-group">
      <label for="inputEmail2">Envoyer les billets à</label>
      <input type="email" name="email" class="form-control" id="inputEmail2" placeholder="Email" #email>
    </div>

    <button (click)="sendTo(email)" class="btn btn-success">Envoyer les billets</button>
  </div>
</div>

<div *ngIf="adminSent">
  <h1 i18n>Commande confirmée !</h1>
  <p i18n>La commande a bien été envoyée et validée :)</p>
</div>

<div *ngIf="adminSendErrors && adminSendErrors.length > 0" class="alert alert-danger">
  <h2 i18n>Oups, impossible de terminer la commande</h2>
  <p i18n>Voici le(s) code(s) d'erreur(s) rencontré(s) :</p>
  <ul>
    <li *ngFor="let err of adminSendErrors">
      {{err}}
    </li>
  </ul>
</div>

<div *ngIf="multiSendStart">
  <h1>Envoi multiple en cours</h1>
  <!--<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" [style]="multiSendProgressText"></div>
  </div>-->

  <hr>

  <pre>{{multiSendLog}}</pre>
</div>
