<h2>Historique des ventes</h2>

<p *ngIf="!stats" class="text-muted"><i>Récupération des statistiques en cours...</i></p>

<form (ngSubmit)="reload()" target="_self">
  <div class="form-row">
    <label class="col-sm-2 col-form-label">Grouper par</label>

    <div class="col">
      <div class="input-group mb-2">
        <input type="text" name="groupBy" class="form-control" [(ngModel)]="groupBy">
        <div class="input-group-append">
          <div class="input-group-text">heures</div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <button type="submit" class="btn btn-success">Recharger</button>
    </div>
  </div>
</form>

<ng-container *ngIf="stats">
    <highcharts-chart *ngIf="stats"
                      [Highcharts]="Highcharts"

                      [constructorType]="'chart'"
                      [options]="series"
                      [runOutsideAngular]="true"
                      style="width: 50%; height: 400px; display: inline-block;"
    >
    </highcharts-chart>

    <highcharts-chart *ngIf="stats"
                      [Highcharts]="Highcharts"

                      [constructorType]="'chart'"
                      [options]="seriesArea"
                      [runOutsideAngular]="true"
                      style="width: 50%; height: 400px; display: inline-block;"
    >
    </highcharts-chart>
</ng-container>
