<h2>Commandes</h2>

<table class="table">
  <tr>
    <th>#</th>
    <th>Prix tickets</th>
    <th>Prix total</th>
    <th>Source</th>
    <th>Créée le</th>
    <th>Payée le</th>
  </tr>
  <tr *ngFor="let order of orders">
    <td><a [routerLink]="order.id">{{order.id}}</a></td>
    <td>{{order.ticketsPrice}}</td>
    <td>{{order.totalPrice}}</td>
    <td>{{order.source}}</td>
    <td>{{formatDate(order.enterDate)}}</td>
    <td>{{formatDate(order.paymentConfirmed)}}</td>
  </tr>
</table>

<p *ngIf="!orders" class="text-muted"><i>Récupération des commandes en cours...</i></p>
